.content {
    /* padding: 0 1em; */
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content > div {
    padding: 1em;
}


#file-actions {
    background-color: rgb(var(--midground));
    padding: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    transition: background-color .5s ease-in-out;
}
/* #file-actions.dragover { */
#file-actions:has(> #drop-area.dragover) {
    background-color: rgb(var(--mid));
}

#file-actions > #drop-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    color: rgba(var(--contrast), 0.5);
    transition: all 1s ease-in;
    border-radius: .5em;
    /* border: 5px dashed rgba(var(--midground), 0.5);
    box-sizing: border-box; */
}

#file-actions > #drop-area.dragover {
    color: rgba(var(--contrast), 0.8);
    box-shadow: 0 0 50vmin 50vmin rgb(var(--midground)) inset;
    /* transition: all 0s; */
}